template {
    margin: 0;
    padding: 0;
}
.navbar {
        	display:flex;
            justify-content: space-between;
            align-items: center;
            background: #3a1f1f;
            color: #fff;
            padding: 0.5rem;
            border-radius: 1rem;
}
        
.nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
}
        
.nav-links a {
    color: #fff;
    text-decoration: none;
}
        
.nav-links a:hover{
    border-bottom: 2px solid #FFA500;
}