.section1 {
    /* display: flex;
    justify-content: space-between;
    padding: 20px;
    background: black;
    color: white;
    margin-bottom: 20px; */
    color:white;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 20px;
    margin-bottom: 20px;
}

.sectioninfo {
    padding-top: 200px;
    padding-right: 50px;
    line-height: 2;
}